In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured data, typically stored electronically in a computer system. It is designed 
to efficiently manage, retrieve, and manipulate data according to various requirements.

SQL (Structured Query Language) databases: These are relational databases that store and manage data in tables with rows and 
    columns. They use a predefined schema to structure the data and support ACID (Atomicity, Consistency, Isolation, Durability)
    properties. Examples include MySQL, PostgreSQL, SQLite, Oracle.

NoSQL databases: These are non-relational databases that store and manage data in flexible, schema-less formats like JSON, XML,
    or key-value pairs. They are designed to handle large volumes of unstructured or semi-structured data and provide high 
    scalability and performance. Examples include MongoDB, Cassandra, Redis, Couchbase.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of database objects such as tables, indexes, and constraints.

# CREATE: Used to create new database objects like tables, indexes, or views.

# DROP: Used to delete existing database objects.

# ALTER: Used to modify the structure of existing database objects.

# TRUNCATE: Used to remove all records from a table while preserving its structure.

# # Example:
-- Creating a new table
CREATE TABLE employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    department VARCHAR(100)
);

-- Dropping a table
DROP TABLE employees;

-- Altering table structure
ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

-- Truncating a table
TRUNCATE TABLE employees;

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# DML (Data Manipulation Language) is a subset of SQL used to manipulate data stored in the database.

# INSERT: Used to add new records to a table.

# UPDATE: Used to modify existing records in a table.

# DELETE: Used to remove records from a table.

# Example:

-- Inserting new records
INSERT INTO employees (name, department, salary) VALUES ('John Doe', 'HR', 50000);

-- Updating existing records
UPDATE employees SET salary = 55000 WHERE department = 'HR';

-- Deleting records
DELETE FROM employees WHERE name = 'John Doe';

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

# DQL (Data Query Language) is a subset of SQL used to retrieve data from the database.

# SELECT: Used to fetch data from one or more tables based on specified criteria.
# Example:
-- Selecting all records from a table
SELECT * FROM employees;

-- Selecting specific columns
SELECT name, department FROM employees WHERE salary > 50000;

-- Aggregating data
SELECT department, AVG(salary) AS avg_salary FROM employees GROUP BY department;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a unique identifier for each record in a table. It ensures that each row in a table is uniquely 
    identifiable and cannot contain null values. Each table can have only one primary key, and it enforces entity integrity.

Foreign Key: A foreign key is a column or set of columns in a table that establishes a link between data in two tables. It 
    creates a referential integrity constraint, ensuring that the values in the foreign key column(s) match the values in the 
    primary key column(s) of the referenced table. It helps maintain data consistency and integrity in relational databases.

In [ ]:
# Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
import mysql.connector

# Connect to MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL queries
cursor.execute("SELECT * FROM employees")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
connection.close()

In [ ]:
cursor() method: It creates a cursor object that allows Python to execute SQL queries on the MySQL database. The cursor is used to execute SQL commands and fetch results from the database.

execute() method: It is used to execute SQL queries passed as parameters to the method. It can execute DDL, DML, and DQL statements. After executing the query, the cursor object is used to fetch the results, if any.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a SQL query is as follows:

FROM: Specifies the tables from which data will be retrieved.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups the rows that have the same values into summary rows.
HAVING: Filters the groups based on specified conditions.
SELECT: Retrieves the desired columns or expressions from the result set.
ORDER BY: Sorts the rows in the result set based on specified criteria.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows in the result set.